@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* common css start */
:root {
    --black: #000000;
    --orange: #FD511A;
    --green: #21B573;
    --bgg:    #F0FFF0;
    --pop: "Poppins", sans-serif;
    --rob: "Roboto", sans-serif;

}
body{
    font-family: var(--pop) ;
    font-size: 16px; 
    font-weight: 400;
    color: var(--black);

}

/* common css end */  
/* header start  */
header{
    padding: 15px 0;
    background-color: var(--bgg);
}
.cnav{

}
.logo{ 
}
.menu{

}
.menu ul li a {
    padding: 0 20px !important;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    
    
}
.menu ul li a:hover {
    color: var(--orange);
    
}
.c_btn{
 
   background-color: var(--green);  
   border-radius: 33px;
   font-family: var(--rob);
   color: #ffffff;
   
}
.s_btn{
    margin-left: 10px;
    padding: 12px 28px;

}

.c_btn:hover{
    background-color: var(--orange);
    color: #F0FFF0;
}
.c_btn:active{
    background-color: var(--black);
    color: #F0FFF0;
}

/* header end */
/* banner start  */
.banner{
    background-color: var(--bgg);
    padding-bottom: 65px;
    
}
.b_text{}
.p1{
    color: var(--orange);
}
.h1{
    margin: 10px 100px 20px 0;
    font-weight: 700;
    font-size: 48px;
    color: var(--black);
    line-height: 70px;
}
.h1 span {
    color: var(--green);
}  
.p2{
    line-height: 36px ;
}
.b_link{
    margin-top: 15px;
    padding: 12px 30px ;
} 
.b_img{}
.b_img img{
   
}

/* banner end */
